
<div class="sidebar">
    <div class="sidebar-logo">
        <a>
            <img src="assets/img/runtime-error-logo.png">
            <h6>Dashboard</h6>
        </a>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="left">
<!--                    <fa-icon icon="house"></fa-icon>-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                    </svg>
                </div>
                <div class="right">
                    <p>Dashboard</p>
                </div>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a [routerLink]="['/policy']" routerLinkActive="active">
                <div class="left">
<!--                    <fa-icon icon="building-shield"></fa-icon>-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo-shield" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 8h.01"></path>
                        <path d="M11.5 20h-4.5a3 3 0 0 1 -3 -3v-10a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v4"></path>
                        <path d="M4 15l4 -4c.928 -.893 2.072 -.893 3 0l1.5 1.5"></path>
                        <path d="M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5z"></path>
                    </svg>
                </div>
                <div class="right">
                    <p>Policy</p>
                </div>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a [routerLink]="['/readme']" routerLinkActive="active">
                <div class="left">
<!--                    <fa-icon icon="book"></fa-icon>-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z"></path>
                        <path d="M19 16h-12a2 2 0 0 0 -2 2"></path>
                        <path d="M9 8h6"></path>
                    </svg>
                </div>
                <div class="right">
                    <p>Read me</p>
                </div>
            </a>
        </li>
    </ul>

</div>
