header {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: static;
  transition: none;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  color: var(--text-primary-color);
  min-height: 64px;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 64px;

    &-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        background: none;
        color: inherit;
        border: none;
        padding: 4px 4px 4px 4px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 25px;
        display: flex;

        border-radius: 50%;

        &:hover {
          background-color: var(--hover-primary-color);
        }
      }

      .github {
        display: flex;
        margin-left: 8px;
        border-radius: 50%;
        padding: 7px 4px 7px 4px;

        svg {
          color: var(--text-primary-color);
          width: 30px;
        }

        &:hover {
          background-color: var(--hover-primary-color);
        }
      }
    }
  }

}
