.header {
  //position: fixed;
  //width: 100%;

  //background: #f56b39;
  min-height: 64px;

  display: flex;
  flex-direction: row-reverse;
  //padding: 0 1.5rem;

  border-bottom: 1px solid darkgray;

  &-item {
    padding: 0 1.5rem
  }

}
