<div class="dashboard-content">
    <button (click)="tog()">Toggle new/all</button>
    <div class="row">
        <div class="col">
            <h2>Cases</h2>
            <app-chartbox>
                <ngx-charts-area-chart
                        [legend]="true"
                        [scheme]="{domain: ['#8470f8', 'rgba(92,255,220,0.66)', '#d077ee', '#e3b37a']}"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        [xAxis]="true"
                        [yAxis]="true"
                        [timeline]="true"
                        [autoScale]=true
                        [results]="toggle ? cases: cCases">
                </ngx-charts-area-chart>
            </app-chartbox>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Deaths</h2>
            <app-chartbox>
                <ngx-charts-area-chart
                        [legend]="true"
                        [scheme]="{domain: ['#8470f8', 'rgba(92,255,220,0.66)', '#d077ee', '#e3b37a']}"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        [xAxis]="true"
                        [yAxis]="true"
                        [timeline]="true"
                        [autoScale]=true
                        [results]="toggle ? deaths : cDeaths">
                </ngx-charts-area-chart>
            </app-chartbox>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Vaccinations</h2>
            <app-chartbox>
                <ngx-charts-area-chart
                        [legend]="true"
                        [scheme]="{domain: ['#8470f8', 'rgba(92,255,220,0.66)', '#d077ee', '#e3b37a']}"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        [xAxis]="true"
                        [yAxis]="true"
                        [timeline]="true"
                        [autoScale]=true
                        [results]="toggle ? vaccin : cVaccin">
                </ngx-charts-area-chart>
            </app-chartbox>
        </div>
    </div>
</div>


