@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import "~src/assets/scss/colors";

.theme-light {
  @each $name, $color in $config {
    #{$name}: nth($color, 1)
  }
}
.theme-dark {
  @each $name, $color in $config {
    #{$name}: nth($color, 2)
  }
}

body {
  margin: 0;
  font-family: 'Poppins', serif;
  background-color: var(--background-primary-color);
}

