<div class="policy-container">
    <h1>Policies and what they mean</h1>
    <div>
        This dashboard is intended for policy makers in the European Union, specifically the Outbreak Management Team (OMT)
        of the Netherlands, to better understand the demographic and climate factors which can then be used to undertake
        more targeted policy interventions than large scale lock downs. To be able to calculate with the policies. We
        encoded the policies as a numeric value and used them on an ordinal scale. For example, all policy indicators
        have a certain range, often between 0 and 3 or 0 and 5. A higher the numeric value indicates a more restrictive
        government intervention. This are the policies and there indicators.
        <br>
        <br>
        Face coverings:
        <ol start="0">
            <li>No policy</li>
            <li>Recommended</li>
            <li>Required in some specified shared/public spaces outside the home with other people present, or some
            situations when distancing is not possible</li>
            <li>Required in all shared/public spaces outside the home with other people present or all situations when
                social distancing is not possible</li>
            <li>Required outside the home at all times, regardless of location or presence of other people</li>
        </ol>
        Restrictions on gatherings:
        <ol start="0">
            <li> No restrictions</li>
            <li> Restrictions on very large gatherings (the limit is above 1,000 people)</li>
            <li> Restrictions on gatherings between 100 - 1,000 people</li>
            <li> Restrictions on gatherings between 10 - 100 people</li>
            <li> Restrictions on gatherings of less than 10 people</li>
        </ol>
        Close public transport:
        <ol start="0">
            <li> No measures</li>
            <li> Recommend closing (or significantly reduce volume/route/means of transport available)</li>
            <li> Require closing (or prohibit most citizens from using it</li>
        </ol>
        Workplace closures:
        <ol start="0">
            <li>No measures</li>
            <li>Recommend closing (or work from home)</li>
            <li>Require closing (or work from home) for some sectors or categories of workers</li>
            <li>Require closing (or work from home) all but essential workplaces (e.g. grocery stores, doctors)</li>
        </ol>
        <br>
        <br>
        .
    </div>
</div>