.policy-container {
  height: 81%;
  background-color: var(--text-background-primary-color);
  padding: 5px 15px 0 15px;
  color: var(--text-primary-color);
  border-radius: 15px 15px 0 0;
  overflow: scroll;
}